<article class="tarjeta-stat">
  <header class="tarjeta-stat__cabecera">
    <span class="tarjeta-stat__etiqueta">{{ etiqueta() }}</span>
    <i class="tarjeta-stat__icono tarjeta-stat__icono--{{ variante() }} {{ icono() }}"></i>
  </header>
  <span class="tarjeta-stat__valor">{{ valor() }}</span>
  @if (barraProgreso()) {
    <span class="tarjeta-stat__barra">
      <span class="tarjeta-stat__barra__relleno tarjeta-stat__barra--{{ variante() }}" [style.width.%]="barraProgreso()"></span>
    </span>
  }
  @if (subtexto()) {
    <span class="tarjeta-stat__subtexto tarjeta-stat__subtexto--{{ variante() }}">{{ subtexto() }}</span>
  }
</article>
