@if (!cookiesService.consentimientoDado()) {
  <section class="banner-cookies">
    <p class="banner-cookies__texto">
      {{ "bannerCookies.texto" | translate }}
      <a class="banner-cookies__enlace" routerLink="/politica-cookies">{{ "bannerCookies.enlace" | translate }}</a>.
    </p>
    <section class="banner-cookies__acciones">
      <button class="banner-cookies__boton banner-cookies__boton--secundario" (click)="cookiesService.rechazar()">{{ "bannerCookies.rechazar" | translate }}</button>
      <button class="banner-cookies__boton banner-cookies__boton--primario" (click)="cookiesService.aceptar()">{{ "bannerCookies.aceptar" | translate }}</button>
    </section>
  </section>
}
