.barra-pie-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-size-m) var(--spacing-size-3xl);
  border-top: 1px solid var(--borde-normal);
  background-color: var(--fondo-normal);

  &__copyright {
    font-size: var(--font-size-xs);
    color: var(--texto-apagado);
  }

  &__estado {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-size: var(--font-size-xs);
    color: var(--texto-apagado);

    &__punto {
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background-color: var(--verde-normal);
    }
  }

  &__version {
    font-size: var(--font-size-xs);
    color: var(--texto-apagado);
  }
}
